<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

<div class='info'>
    <h1>This is an online QR Code generator</h1>
    <p>  A QR code (short for "quick-response code") is a type of two-dimensional matrix barcode, invented in 1994,
	 by Japanese company Denso Wave for labelling automobile parts.
	 A barcode is a machine-readable optical image that contains information specific to the labelled item. 
	 In practice, QR codes contain data for a locator, an identifier, and web tracking.
	 To efficiently store data, QR codes use four standardized modes of encoding (i) numeric, (ii) alphanumeric, (iii) byte or binary, and (iv) kanji.
    </p>
</div>

<div class='setup'>
    <h1>Enter your text</h1>
    <form method='POST'>
        <input type="text" id="url" class="size_input" name="url" value=""/>
	<button class="play" type="submit">Go!</button>
    </form>
</div>

{% endblock %}
